<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.GameDrawMapper">

    <sql id="Base_Column_List">
        id,game_id,area_name,
        status,area_no
    </sql>

    <insert id="saveBatch">
        INSERT INTO `tc_game_draw` (`game_id`, `session_id`, `session_no`, `sign_id`, `sort`,  `created_at`)
        VALUES
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.sessionId},#{entity.sessionNo},#{entity.signId},#{entity.sort}, #{entity.createdAt})
        </foreach>
    </insert>
    <select id="getBySessionNo" resultType="com.jsnjwj.facade.dao.SessionDrawDao">
        select d.session_no    as sessionNo,
               d.id            as drawId,
               d.session_id    as sessionId,
               s2.session_name as sessionName,
               d.sign_id       as signId,
               s.name          as signName,
               g.id            as groupId,
               g.group_name    as groupName,
               i.id            as itemId,
               i.item_name     as itemName
        from tc_game_draw as d
                 left join tc_sign_single as s on s.id = d.sign_id
                 left join tc_game_session as s2 on s2.id = d.session_id
                 left join tc_game_item as i on i.id = s.item_id
                 left join tc_game_group as g on g.id = i.group_id
        where d.session_no = #{sessionNo}
          and d.game_id = #{gameId}
        order by d.sort

    </select>
    <select id="getSessionList" resultType="com.jsnjwj.facade.dao.SessionDrawListDao">
        select if (s2.id is null, s.session_id, 0) as sessionId,
               if (s2.session_name is null, "默认场次",s2.session_name) as sessionName,
               if (s2.session_no is null, 0, s2.session_no) as sessionNo,
               s.game_id as gameId
               from tc_game_draw s
        left join tc_game_session s2 on s2.id = s.session_id
        where s.game_id = #{gameId}
        group by s.session_no
    </select>
</mapper>
