<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcGameSingleSignExtMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.TcGameSingleSignExt">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="gameId" column="game_id" jdbcType="INTEGER"/>
        <result property="dictCode" column="dict_code" jdbcType="VARCHAR"/>
        <result property="singValue" column="sing_value" jdbcType="VARCHAR"/>
        <result property="singForce" column="sing_force" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,dict_code,
        sing_value,sing_force
    </sql>
</mapper>
