<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcGamesMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.TcGames">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="gameName" column="game_name" jdbcType="VARCHAR"/>
            <result property="smallTitle" column="small_title" jdbcType="VARCHAR"/>
            <result property="gameType" column="game_type" jdbcType="VARCHAR"/>
            <result property="signType" column="sign_type" jdbcType="TINYINT"/>
            <result property="gameTime" column="game_time" jdbcType="VARCHAR"/>
            <result property="signStartTime" column="sign_start_time" jdbcType="TIMESTAMP"/>
            <result property="signEndTime" column="sign_end_time" jdbcType="TIMESTAMP"/>
            <result property="applyCount" column="apply_count" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="signObject" column="sign_object" jdbcType="VARCHAR"/>
            <result property="ruleUrl" column="rule_url" jdbcType="VARCHAR"/>
            <result property="gameLocation" column="game_location" jdbcType="VARCHAR"/>
            <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_name,small_title,
        game_type,sign_type,game_time,
        sign_start_time,sign_end_time,apply_count,
        status,sign_object,rule_url,
        game_location,creator_id,create_time,
        update_time
    </sql>
</mapper>
