<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.GameAreaItemMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameAreaItemEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="areaId" column="area_id" jdbcType="VARCHAR"/>
            <result property="gameId" column="game_id" jdbcType="INTEGER"/>
            <result property="itemId" column="item_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,area_id,game_id,
        item_id
    </sql>

    <insert id="saveBatch">
        insert into tc_game_area_item (`game_id`,`area_id`,`item_id`,`area_no`) values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.areaId},#{entity.itemId}, #{entity.areaNo})
        </foreach>
    </insert>
</mapper>
