<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.TcGameAreaMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameAreaEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="gameId" column="game_id" jdbcType="INTEGER"/>
            <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="areaNo" column="area_no" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,area_name,
        status,area_no
    </sql>

    <insert id="saveBatch">
        insert into tc_game_area (`game_id`,`area_name`,`status`,`area_no`) values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.areaName},#{entity.status}, #{entity.areaNo})
        </foreach>
    </insert>
</mapper>
