<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcGameItemGroupingMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameItemGroupingEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="gameId" column="game_id" jdbcType="INTEGER"/>
        <result property="itemId" column="item_id" jdbcType="INTEGER"/>
        <result property="signId" column="sign_id" jdbcType="VARCHAR"/>
        <result property="sort" column="sort" jdbcType="INTEGER"/>
        <result property="creatorId" column="creator_id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="signType" column="sign_type" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,item_id,
        sign_id,sort,creator_id,
        create_time,update_time,sign_type
    </sql>
</mapper>
