<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.GameSessionMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameSessionEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="gameId" column="game_id" jdbcType="INTEGER"/>
        <result property="sessionName" column="session_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="sessionNo" column="session_no" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,session_name,
        status,session_no
    </sql>

    <insert id="saveBatch">
        insert into tc_game_session (`game_id`,`session_name`,`status`,`session_no`) values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.sessionName},#{entity.status}, #{entity.sessionNo})
        </foreach>
    </insert>
</mapper>
