<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcGameJudgeItemMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameJudgeItemEntity">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="gameId" column="game_id" jdbcType="INTEGER"/>
            <result property="judgeId" column="judge_id" jdbcType="INTEGER"/>
            <result property="itemId" column="item_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,judge_id,
        item_id
    </sql>
</mapper>
