<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcGameRuleSettingDetailMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.TcGameRuleSettingDetail">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="settingId" column="setting_id" jdbcType="INTEGER"/>
        <result property="num" column="num" jdbcType="INTEGER"/>
        <result property="scoreRatio" column="score_ratio" jdbcType="INTEGER"/>
        <result property="scoreWeight" column="score_weight" jdbcType="INTEGER"/>
        <result property="extraType" column="extra_type" jdbcType="TINYINT"/>
        <result property="extraName" column="extra_name" jdbcType="VARCHAR"/>
        <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
        <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,setting_id,num,
        score_ratio,score_weight,extra_type,
        extra_name,created_at,updated_at
    </sql>
</mapper>
