<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.GameAreaMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.GameAreaEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="gameId" column="game_id" jdbcType="INTEGER"/>
        <result property="areaName" column="area_name" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="areaNo" column="area_no" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,area_name,
        status,area_no
    </sql>

    <insert id="saveBatch">
        insert into tc_game_area (`game_id`,`area_name`,`status`,`area_no`) values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.areaName},#{entity.status}, #{entity.areaNo})
        </foreach>
    </insert>
    <select id="selectSession" resultType="com.jsnjwj.facade.dto.ArrangeSessionVo">
        select s.session_id as sessionId
             ,if (a.session_name is null ,"默认场次",a.session_name) as sessionName
             ,if(a.session_no is null,"0",a.session_no) as sessionNo
        from tc_game_area_session as s
        left join tc_game_session as a on a.id = s.session_id
        where s.area_id = #{areaId} and s.game_id = #{gameId}
    </select>

    <select id="selectSessionExceptArea" resultType="com.jsnjwj.facade.dto.ArrangeSessionVo">
        select s.session_id as sessionId,a.session_name as sessionName,a.session_no as sessionNo
        from tc_game_area_session as s
                 left join tc_game_session as a on a.id = s.session_id
        where s.area_id != #{areaId} and s.game_id = #{gameId}
    </select>

</mapper>
