<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="service.mapper.TcSchoolsMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.TcSchools">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="scCode" column="sc_code" jdbcType="VARCHAR"/>
            <result property="scId" column="sc_id" jdbcType="INTEGER"/>
            <result property="scName" column="sc_name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="saName" column="sa_name" jdbcType="VARCHAR"/>
            <result property="saEmail" column="sa_email" jdbcType="VARCHAR"/>
            <result property="saTel" column="sa_tel" jdbcType="VARCHAR"/>
            <result property="saStatus" column="sa_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,sc_code,sc_id,
        sc_name,create_time,update_time,
        sa_name,sa_email,sa_tel,
        sa_status
    </sql>
</mapper>
