<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jsnjwj.facade.mapper.TcSignSingleMapper">

    <resultMap id="BaseResultMap" type="com.jsnjwj.facade.entity.TcSignSingle">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="gameId" column="game_id" jdbcType="INTEGER"/>
            <result property="groupId" column="group_id" jdbcType="INTEGER"/>
            <result property="itemId" column="item_id" jdbcType="INTEGER"/>
            <result property="teamId" column="team_id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="signStatus" column="sign_status" jdbcType="TINYINT"/>
            <result property="auditStatus" column="audit_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,game_id,group_id,
        item_id,team_id,name,
        team_name,sex,age,
        remark,sign_status,audit_status,
        create_time,update_time
    </sql>



    <insert id="saveBatch">
        insert into tc_sign_single (`game_id`,`group_id`,`item_id`,`team_id`,`name`,`sex`,`age`) values
        <foreach collection="list" item="entity" separator=",">
            (#{entity.gameId},#{entity.groupId},#{entity.itemId}, #{entity.teamId}, #{entity.name}, #{entity.sex}, #{entity.age})
        </foreach>
    </insert>

</mapper>
